/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  /* margin: 0 auto; */
  /* Выдали ошибку, сказали сбросить отступы - я сбросил */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--plain_text-line-height);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  line-height: inherit;

  border: none;
  font-family: var(--font-family);
  font-size: var(--font-size);
}
